[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
htpy = "*"
setuptools = "*"
build = "*"
django-compose = {file = "src", editable = true}
django = "*"

[dev-packages]

[requires]
python_version = "3.12"
